{{input
  id=inputId
  checked=checked
  type='checkbox'
  class='hidden'
}}

<span aria-labelledby="{{inputId}}" class="input-checkbox">
  <span class="hidden">{{label}}</span>
</span>

{{#if label}}
  <span class="checkbox_label">
    {{capitalize-string label}}
  </span>
{{/if}}
