{{#link-to 'features.new'
  title='Add a new feature'
  tooltipContent=tooltipContent
  tooltipEvent='ready'
  tooltipPlace='left'
}}
  <span class="icon-write"></span>
  <span class="hidden">Add a new feature</span>
{{/link-to}}

{{product-roadmap features=content}}
