/* https://github.com/Igosuki/compass-mixins/issues/34 */

@function compact($vars...) {
  $first: nth($vars, 1);
  $sep: comma;
  $list: ();

  @if length($vars) == 1 and type_of($first) == 'list' {
    $vars: $first;
    $sep: list-separator($vars);
  }

  @each $var in $vars {
    @if $var {
      $list: append($list, $var, $sep);
    }
  }

  @return $list;
}

@import 'compass';

@import 'core/variables';
@import 'core/mixins';
@import 'core/placeholders';
@import 'core/actions';

@import 'components/alerts';
@import 'components/buttons';
@import 'components/calendar';
@import 'components/forms';
@import 'components/header';
@import 'components/icons';
@import 'components/images';
@import 'components/layout';
@import 'components/lists';
@import 'components/loading';
@import 'components/modals';
@import 'components/roadmap';
@import 'components/sliders';
@import 'components/tooltips';
@import 'components/tour';
@import 'components/typography';

@import 'routes/backlog';
@import 'routes/feature';
@import 'routes/features';
@import 'routes/goals';
@import 'routes/index';
@import 'routes/settings';
@import 'routes/sign-in';
@import 'routes/tasks';
