.c-notification {

  @include mod(icon) {
    @include rem(font-size, 1.4);
  }

}

@mixin notification-styling($backgroundColor) {
  background-color: $backgroundColor;

  .c-notification__icon {
    background-color: darken($backgroundColor, 10%);
  }

  .c-notification__countdown {
    background-color: lighten($backgroundColor, 15%);
  }
}

.c-notification--success {
  @include notification-styling(darken($success, 15%));
}

.c-notification--error {
  @include notification-styling($error);
}

.c-notification--info {
  @include notification-styling($info);
}

.c-notification--warning {
  @include notification-styling($warning);
}
