.c-notification {
  font-family: inherit;

  @include mod(icon) {
    @include rem(font-size, 1.4);
  }

}

@mixin notification-styling($backgroundColor) {
  background-color: $backgroundColor;

  .c-notification__icon {
    background-color: darken($backgroundColor, 10%);
  }

  .c-notification__countdown {
    background-color: lighten($backgroundColor, 10%);
  }
}

.c-notification--success {
  @include notification-styling(darken($success, 15%));
}

.c-notification--error {
  @include notification-styling($error);
}

.c-notification--info {
  @include notification-styling($info);
}

.c-notification--warning {
  @include notification-styling($warning);
}

.blocker {
  @extend %block;
  @extend %align-center;
  @include rem(margin-top, $spacing * 2);

  .flash-message {
    @include rem(max-width, 52);
    margin: 0 auto;
  }

  .heading {
    color: $gray-lighter;

    .icon {
      color: $gray;
      @include rem(font-size, 5);
    }
  }
}

.blocker-content {
  color: $gray-lighter;
  @include rem(max-width, 60);
  margin: 0 auto;
}
