button {
  font-family: inherit;
  font-weight: inherit;
  text-rendering: inherit;
  -webkit-font-smoothing: inherit;
  font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  outline: none;
}

.button {
  @extend %inline_block;
  @include rem(padding, 2, 2.5);

  @include rem(border-radius, 0.3);
  border: 1px solid transparent;
  background: none;
  @extend %border_box;

  @include box-shadow(0 4px 0 -2px rgba($black, 0.1));

  cursor: pointer;
  @extend .alt_text;

  &:hover {
    color: $gray-dark-hover;
    @include transform(scale(1.01));
  }

  &:active {
    @include transform(scale(1.01) translateY(1px));
    @include box-shadow(none);
  }

  .text {
    @extend %inline_block;
  }
}

@include mod(button) {
  @extend .button;
}

.button-primary {
  background-color: $orange;
  color: $white;
}

.button-secondary {
  border: 1px solid $gray-dark;
  @include transition(all $fast);

  &:hover {
    color: $gray-dark-hover;
    border-color: $gray-dark-hover;
  }
}

.button-transparent {
  background: none;
  border-color: transparent;
  box-shadow: none;

  &:active {
    @include transform(none);
  }
}
