button {
  font-family: inherit;
  font-weight: inherit;
  text-rendering: inherit;
  -webkit-font-smoothing: inherit;
  font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  outline: none;
}

.button {
  @extend %nowrap;
  @extend %inline_block;
  @include rem(padding, $buttonVertPadding, $buttonHorizPadding);

  @include rem(border-radius, 0.3);
  border: 1px solid rgba($black, 0.15);
  background: none;
  @extend %border_box;
  @include transition(opacity $fast);

  @include box-shadow(0 4px 0 -2px rgba($black, 0.1));

  cursor: pointer;
  @extend %alt_text;

  &:hover {
    color: $gray-dark-hover;
    @include transform(scale(1.02));
  }

  &[disabled] {
    @extend .disabled;
  }

  &.disabled:hover
  &[disabled]:hover {
    @include transform(none);
  }

  &:active {
    @include transform(scale(1.02) translateY(1px));
    @include box-shadow(none);
  }

  &.large {
    @include rem(padding, 2, 2.5);
  }

  & ~ &,
  & ~ .or {
    @include rem(margin-left, $spacing / 2);
  }

  .text {
    @extend %inline_block;
  }
}

@include mod(button) {
  @extend .button;
}

.button-primary {
  background-color: $orange;

  &, &:hover {
    color: $white;
  }
}

.button-primary-alt {
  background-color: $red;

  &, &:hover {
    color: $white;
  }
}

.button-secondary {
  border: 1px solid $gray-dark;
  @include transition(color $fast, border-color $fast);

  &:hover {
    color: $gray-dark-hover;
    border-color: $gray-dark-hover;
  }
}

.button-secondary-white {
  color: $white;
  border: 1px solid $white;
  @include transition(color $fast, border-color $fast);
  @include box-shadow(0 4px 0 -2px rgba($black, 0.05));

  &:hover {
    color: $gray-lighter;
    border-color: $gray-lighter;
  }
}

.button-transparent {
  background: none;
  border-color: transparent;
  box-shadow: none;

  &:active {
    @include transform(none);
  }
}

.button-unstyled {
  @extend .button-transparent;
  padding: 0; // Don't use extend
}

.button-box {
  background-color: $purple;
  @include rem(padding, $spacing);
  @include rem(font-size, 2);
  @include rem(width, 20);
  text-transform: none;
  font-style: italic;
  letter-spacing: 0;
  color: $white;

  .icon {
    @include rem(margin-bottom, $spacing / 2);
    @include rem(font-size, 4);
    @include opacity(0.5);
    @extend %block;
  }

  .icon ~ .text {
    margin-left: 0;
  }

  &:hover {
    color: $white;
  }

  & ~ & {
    background-color: $blue;
  }

}
