input,
textarea,
select {
  font-family: inherit;
  font-weight: inherit;
  text-rendering: inherit;
  -webkit-font-smoothing: inherit;
  font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
}

legend {
  @extend .hidden;
}

.form {
  @extend %inline_block;
  @extend %relative;
  @extend %align-left;
}

.controls {
  border: none;
  @extend %no_padding;
  @extend %no_margin;
  @include rem(margin, $spacing / 2, 0);

  @extend %table;

  .control {
    @extend %row;
    border: 0 solid transparent;
    @include rem(border-bottom-width, $spacing / 1.5);
  }

  .label,
  .input_wrapper {
    @extend %cell;
  }

  .input {
    @include rem(width, $inputWidth);
  }
}

/* Control set */

.control {

  &:before {
    // No content so it doesn't show in the DOM
    @extend .fade;
    @extend .fade-out;
    @extend %icon-check;
    @extend %absolute;
    @include rem(margin-top, 0.1);
    @include rem(right, 0.1);
    color: $green;

    @include rem(padding, 0.8);
    @include rem(font-size, 1.8);
    background-color: $inputBackgroundColor;
    @include rem(border-radius, 0.3);
    pointer-events: none;
  }
}

.input_with_validity {

  &:before {
    @extend .fade-in;
  }
}

/* Elements of the control */

.label {
  @include rem(font-size, 1.8);
  @include rem(padding, 0.6, $spacing, 0, 0);
  text-align: right;
  cursor: pointer;
  @extend %align-top;
}

.input {
  background-color: $inputBackgroundColor;
  border: 1px solid $gray-light;
  @include rem(border-radius, 0.3);
  @include rem(padding, $inputVertPadding, $inputHorizPadding);
  @include transition(border-color $fast);
  @include box-sizing(border-box);

  &:focus {
    outline: none;
    border-color: $blue;
  }

  .input_with_errors &:not(:focus) {
    border-color: $red;
  }

  .input_with_validity & {
    &, &:focus {
      border-color: $green;
    }
  }

  @include placeholder {
    font-weight: inherit;
    font-family: inherit;
    @include opacity(0.6);
  }
}

@include mod(input) {
  @extend .input;
}

.input-textarea {
  @include rem(min-height, 10);
  @include rem(padding-top, 1);
  @include rem(padding-bottom, 1);
}

/* Checkboxes */

.input-checkbox {
  @include rem(line-height, 2);
  @include rem(height, 2.2);
  @include rem(width, 2.2);
  @include rem(top, -0.1);
  @extend %align-center;
  @extend %inline_block;
  @extend %relative;
  cursor: pointer;
  padding: 0;

  &:before {
    @include rem(font-size, 1.4);
    @extend %icon;
    content: "\ea10";
    @include transition(opacity 0.2s);
    @extend .fade-out;

    input:checked ~ & {
      @extend .fade-in;
    }
  }
}

/* Notes input */

.notes_button {
  @include mod(button) {
    @extend %no_padding;
    @include rem(padding-bottom, 0.1);
  }
}

.notes.control {
  @include opacity(0);
}

.notes .input-textarea {
  display: none;
}

.hint, .error {
  @extend %block;
  @include rem(margin-top, $spacing / 3);
}

.hint {
  @include rem(font-size, 1.4);
  font-style: italic;
  @extend .sub;
}

.error {
  color: $red;
}

/* Form submission */

.submission {
  @extend %align-right;
}

/* Datepicker */

.pika-single {
  font-family: inherit;
}

.pika-label {
  font-weight: $latoReg;
}

.pika-button {
  .is-selected & {
    background-color: $orange;
    @include box-shadow(none);
  }

  .is-today & {
    color: mix($gray-dark, $black, 70%);
  }

  .is-selected.is-today & {
    color: $white;
  }

  &:hover {
    background-color: $orange !important;
  }
}

.selectize-input {
  @include box-sizing(border-box);
  @include rem(width, $inputWidth);
}

.selectize-control.single .selectize-input:after {
  border: none;
  @extend %icon;
  content: "\e097";
  background-image: none;
  color: $gray;
  top: 40%;
  @include rem(right, 2);
}

.selectize-control.single .selectize-input.dropdown-active:after {
  content: "\e096";
}

.selectize-input, .selectize-dropdown [data-selectable] {
  @include rem(padding, $inputVertPadding, $inputHorizPadding);
}

/* Toggles */

.x-toggle-container {
  @extend %inline_block;

  &.x-toggle-container-checked {
    .toggle-prefix {
      @extend .sub;
    }

    .toggle-postfix {
      @extend .fade-in;
    }
  }

  .toggle-text {
    @extend .fade;
    @extend .alt_text;
    // @extend %relative;
    // @include rem(top, -0.2);
  }

  .toggle-text.small {
    @include rem(font-size, 1.4);
  }

  .toggle-prefix {
    @include rem(margin-right, 0.4);
  }

  .toggle-postfix {
    @extend .sub;
    @include rem(margin-left, 0.4);
  }
}

.x-toggle {

  &:checked + .x-toggle-ios.x-toggle-btn {
    background-color: $gray;
  }
}

.x-toggle-ios {
  &.x-toggle-btn {
    @extend %relative;
    @include rem(top, 0.3);
    @include rem(padding, 0.3);
    background-color: $inputBackgroundColor;
    border: 1px solid $gray-light;

    &:after {
      background-color: $white;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2),
                  0 4px 0 rgba(0, 0, 0, 0.08)
    }
  }
}
