.logo {
  color: $white;
  background: $orange;
  @include rem(font-size, $iconFontSize);
  @extend %inline_block;

  .icon-logo {
    @extend %relative;
  }

  .icon-home {
    @extend .fade-out;
    @extend %absolute;
    @extend %top;
    @include rem(left, -0.2);
    @include rem(font-size, 2);

    &:before {
      @extend .sub;
    }
  }

  &:hover {
    .icon-logo {
      @extend .fade-out;
    }

    .icon-home {
      @extend .fade-in;
    }
  }
}

.nav {
  @include mod(icon) {
    @extend %inline_block;
    @include rem(padding, 1.8, 1.2, 1.8, 1.4);
  }

  .link-to-settings {
    @extend .sub;
  }
}

.letterhead {
  @extend %absolute;
  @extend %full_width;
  width: calc(100% - 200px);
  @extend %align-center;
  @extend %top;
  @extend %left;
  margin: 0 100px;

  .link-to-features-index {
    color: $orange;
    @extend %uppercase;
    font-style: italic;
    @include transform(scaleX(0.8));
    @extend %inline_block;
    @include rem(font-size, 1.4);
    @include rem(padding, 1.4, 2);
    @include transition(letter-spacing $fast);

    &:hover {
      letter-spacing: 6px;
    }
  }
}

.new_feature {
  float: right;
  position: relative;
  z-index: 2;

  .link-to-features-new {
    @include transition(color $fast);

    &:hover {
      color: $gray-dark-hover;
    }
  }
}
