.header {
  background-color: $white;
}

.logo {
  color: $white;
  background-color: $orange;
  @include rem(font-size, $iconFontSize);
  @include transition(background-color $slow, color $slow);
  @extend %inline_block;

  .index & {
    color: $orange;
    background-color: transparent;
  }

  .icon-logo {
    @extend %relative;
  }

  .icon-home {
    @extend .fade-out;
    @extend %absolute;
    @extend %top;
    @include rem(left, -0.2);
    @include rem(font-size, 2);

    &:before {
      @extend .sub;
    }
  }

  &:hover {
    .icon-logo {
      @extend .fade-out;
    }

    .icon-home {
      @extend .fade-in;
    }
  }
}

.nav {
  @include mod(icon) {
    @extend %inline_block;
    @include rem(padding, 1.8, 1.2, 1.8, 1.4);
  }

  .link-to-settings {
    @extend .sub;
  }
}

.letterhead {
  @extend %absolute;
  @extend %full_width;
  width: calc(100% - 200px);
  @extend %align-center;
  @extend %top;
  @extend %left;
  margin: 0 100px;

  display: none !important;

  @include large {
    display: inline-block !important;
  }

  @include mod(link-to) {
    color: $orange;
    @extend %uppercase;
    font-style: italic;
    @include transform(scaleX(0.8));
    @extend %inline_block;
    @include rem(font-size, 1.4);
    @include rem(padding, 1.4, 2);
    @include transition(letter-spacing $fast);

    &:hover {
      letter-spacing: 6px;
    }
  }
}

.feature-navigation {
  @extend %terrace;
  @extend %absolute;
  @extend %top;
  @extend %right;

  @include mod(link-to) {
    @extend %inline_block;
    @include rem(line-height, $logoSize - 0.5);
    @include rem(height, $logoSize);
    @extend %align-center;
    @extend .button;
    @extend .button-transparent;
    @include rem(padding, 0, 1);
    @include rem(font-size, 1.2);
    border-radius: 0;

    .text {
      @extend %relative;
      display: none;

      @include small {
        display: inline-block;
      }
    }

    &.active .text:after {
      $_size: 2;

      @extend %full_size_pseudo;
      height: 0;
      width: 0;
      @include rem(border-width, $_size / 2);
      border-color: transparent;
      border-top-color: $white;
      border-style: solid;
      top: 100%;
      left: calc(50% - #{$_size * 10}px);
      left: calc(50% - #{$_size}rem);
      @extend %block;
      z-index: 2;
    }
  }

  .link-to-features,
  .link-to-goals,
  .link-to-backlog {
    .icon {
      @include opacity(0.5);
    }
  }

  .link-to-features {
    .icon {
      @include rem(font-size, 1.4);
    }
  }

  .link-to-goals {
    .icon {
      @include rem(font-size, 1.8);
    }
  }

  .link-to-backlog {
    .icon {
      @include rem(font-size, 2);
    }
  }

  .link-to-features-new {
    background-color: $green;
    @include transition(background-color $fast);

    &, &:hover {
      color: $white;
    }

    &:hover {
      background-color: darken($green, 5%);
    }
  }
}
