.icon {
  @include rem(margin, $iconFontOffset, 0);
  @include rem(font-size, $iconFontSize);
  @extend %inline_block;

  & ~ .text, .text ~ & {
    @include rem(margin-left, $iconMargin);
  }

  &.small {
    @include rem(font-size, 1.6);
  }
}

@include mod(icon) {
  @extend .icon;
}

%icon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%icon-check:before {
  @extend %icon;
  content: "\e116";
}

// TODO

// .icon-dots {
//   @extend %no_margin;
//   @include rem(font-size, 1.4);
//   border: 1px solid $gray;
//   @include rem(padding, 0.2, 0.4, 0.1, 0.6);
//   @include rem(border-radius, 0.3);
// }
