.app {
  @extend %table;
  @extend %full_height-viewport;
}

.header {
  display: table-header-group;
}

.main {
  @extend %cell;
  @extend %align-top;
}

.headline {
  background-color: $offwhite;
  @include rem(padding, $spacing);

  h1, h2 {
    @extend %no_margin;
    @extend %align-center;
    @include rem(marging-top, -0.4);
  }
}

.content {
  @include rem(margin, $spacing * 1.2);

  &.center {
    @extend %align-center;
  }
}

.heading_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .heading, .title, .heading_aside, .flex_item {
    @extend %no_margin;
    // align-self: flex-end;
  }

  .heading, .title, .flex_item {
    flex: 1;
  }

  .heading_aside {
    flex: 3;
    @extend %align-right;
  }
}

.flex_item {

  // Because we're probably putting something next to the heading
  .heading {
    @extend %inline_block;
    @include rem(margin-right, $spacing);
  }
}

.top_right {
  @extend %absolute;
  @extend %top;
  @extend %right;
}

.fullscreen {
  & > .heading {
    margin-top: 0;
  }
}
