.app {
  @extend %table;
  @extend %full_height-viewport;
}

.nav, .main {
  // @extend %align-top;
  // @extend %full_width;
}

.header {
  display: table-header-group;
}

.main {
  @extend %cell;
  @extend %align-top;
  // @extend %full_height;
}

.headline {
  background-color: $offwhite;
  @include rem(padding, $spacing);

  h1, h2 {
    margin: 0;
    @extend %align-center;
  }
}

.content {
  @include rem(margin, $spacing * 1.2);
}
