.roadmap {
  @extend %relative;
  @extend %full_height;
  overflow-x: scroll;
  overflow-y: hidden;
}

.roadmap_months {
  background-color: $offwhite;
  @include box-sizing(border-box);
  @include rem(padding-left, $logoSize);
  @extend .list-inline;
  @extend %full_height;
  @extend %full_width;
  @extend %absolute;
  @extend .sub;
  z-index: -1;
}

.roadmap_month {
  border-left: 1px solid $gray-light;
  @extend %border_box;
  @include rem(padding, 1);
  @extend %full_height;
  @extend .alt_text;
}

.roadmap_features {
  @extend %full_height;
  @extend .list-unstyled;
  @include rem(margin-left, $logoSize);
  @extend %relative;
}

.roadmap_feature {
  $offsetTop: $headingSize-small * 2 + $progressBarSize + 0.2;

  @extend %absolute;
  @include rem(padding-bottom, $progressBarSize * 3); // For hover
  @include rem(margin-top, -1 * $offsetTop);

  .heading-small {
    margin-top: 0;
    @include rem(margin-bottom, $headingSize-small);
  }

  .link-to-feature {
    @extend %block;
    @include rem(padding, 1);
    @include rem(margin, -1);

    &:hover .icon-go {
      @extend .fade-in;
    }
  }

  .text {
    @extend %inline_block;
    width: calc(100% - 28px);
    width: calc(100% - 2.8rem);
  }

  .icon-go {
    @extend .fade;
    @extend .fade-out;
    margin-left: 0;
  }
}

.roadmap_feature_stages {
  @extend .list-inline;
  @extend .fade;
  @extend .fade-out;

  .roadmap_feature:hover & {
    @extend .fade-in;
  }
}

.roadmap_feature_stage {
  @extend %relative;
  @include transition(transform $slow);

  .progress {
    @extend %full_width;
  }

  &.research .progress {
    background-color: $research;
  }

  &.development {
    @extend %border_box;
    border: 0 solid transparent;
    @include rem(border-left-width, $progressBarSize);
    @include rem(border-right-width, $progressBarSize);
    @include background-clip(content-box);

    .progress {
      background-color: $development;
    }
  }

  &.testing .progress {
    background-color: $testing;
  }

  .roadmap_feature:hover & {

    &.research {
      @include transform(translateY(#{$progressBarSize}rem));
    }

    &.development {
      @include transform(translateY(#{$progressBarSize * 2}rem));
    }

    &.testing {
      @include transform(translateY(#{$progressBarSize * 3}rem));
    }
  }
}

.roadmap_lanes {
  @extend %absolute;
  @extend %full_width;
  @extend %full_height;
}

.roadmap_lane {
  @extend %block;
  @extend %border_box;
  border-bottom: 0 solid $white;
  @include rem(border-bottom-width, 0.4);
  @extend %full_width;
}

.roadmap_today {
  @extend %absolute;
  @extend %full_height;
  @extend .list-unstyled;
  width: 1px;
  @include rem(margin-left, $logoSize);
  background-color: mix($gray-light, $offwhite, 20%);
}
