.roadmap {
  @extend %relative;
  @extend %full_height;
  overflow-x: scroll;
  overflow-y: hidden;
}

.roadmap_months {
  background-color: $offwhite;
  @include box-sizing(border-box);
  @include rem(padding-left, $logoSize);
  @extend .list-inline;
  @extend %full_height;
  @extend %full_width;
  @extend %absolute;
  @extend .sub;
  z-index: -1;
}

.roadmap_month {
  border-left: 1px solid $gray-light;
  @include box-sizing(border-box);
  @include rem(padding, 1);
  @extend %full_height;
  @extend .alt_text;
}

.roadmap_features {
  @extend %full_height;
  @extend .list-unstyled;
  @include rem(margin-left, $logoSize);
  @extend %relative;
}

.roadmap_feature {
  @extend %absolute;

  .heading-small {
    margin-top: 0;
  }
}
