.progress_bar {
  @extend %no_margin;
  @extend %relative;
  @include rem(height, $progressBarSize);
  @include rem(border-radius, $progressBarSize / 2);
  background-color: $gray;

  &:before, &:after {
    @extend %no_content;
    @extend %absolute;
    @extend %inline_block;
    @include rem(height, $progressBarSize - 0.6);
    @include rem(width, $progressBarSize - 0.6);
    @include border-radius(50%);
    background-color: $white;
    @include rem(top, 0.3);
  }

  &:before {
    @include rem(left, 0.3);
  }

  &:after {
    @include rem(right, 0.3);
  }
}

.progress {
  @extend %no_margin;
  @extend %no_padding;
  @include rem(height, $progressBarSize);
  width: 0;
  // @extend %top;
  // @extend %left;
  @include transition(width $slow);
  background-color: $orange;
  @include rem(border-radius, $progressBarSize / 2);
}

.slider_wrapper {
  display: table-caption;
}

.slider {
  @include rem(margin-bottom, $spacing * 1.5);
  @extend .progress_bar;

  .noUi-handle {
    $handleSize: 2.4;

    @include rem(top, -0.8);
    @include rem(height, $handleSize);
    @include rem(width, $handleSize);
    @include border-radius(50%);
    border: 1px solid $gray-light;
    cursor: pointer;

    &:before {
      @extend %full_size_pseudo;
      @include rem(height, $handleSize - 0.8);
      @include rem(width, $handleSize - 0.8);
      @include rem(top, 0.2);
      @include rem(left, 0.2);
      border: 1px solid rgba($gray-light, 0.5);
      background: none;
      @include border-radius(50%);
    }

    &:after {
      @extend .hidden;
    }

    .slider_date {
      @include rem(top, $handleSize + $progressBarSize);
    }
  }
}

.noUi-background {
  @include box-shadow(none);
  background-color: $purple;
  border: none;

  .noUi-background {
    background-color: $green;
  }
}

.noUi-connect {
  @include box-shadow(none);
  background-color: $blue;
}

.noUi-origin {
  @include rem(border-radius, 0.6);
}

.slider_date {
  @extend %absolute;
  @include rem(width, 10);
  @extend .alt_text;
  @extend .sub;
  margin-left: -50%;
}
