html {
  font-size: $baseFontSize * 0.9;

  @media #{$medium} {
    font-size: $baseFontSize;
  }
}

body {
  @include rem(font-size, $bodyFontSize);
  font-family: $lato;
  font-weight: $latoReg;
  color: $gray-dark;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

@include mod(link-to) {
  @extend .fade;

  &:hover {
    @extend .fade-in;
  }
}

// TODO - class instead of element selector

h1, h2 {
  font-weight: $latoLight;
  @include rem(font-size, $headingSize);
}

h1, h2, .heading_wrapper {
  @include rem(margin, $spacing / 2, 0, $spacing);
}

p {
  @include rem(margin-bottom, $spacing);
}

.title {
  @include rem(font-size, $spacing);
}

.subtitle {
  @extend %align-center;
  @extend %no_margin;
  @extend .sub;
  @include rem(font-size, 2);
  @include rem(margin-top, 1);
}

.alt_text {
  @extend %uppercase;
  @include rem(font-size, 1.4);
  @include rem(letter-spacing, 0.1);
}
