<div class="modal-transparent">
  <span class="icon-fire"></span>
  <h1 class="title">Because task tracking shouldn't be a chore.</h1>

  <p>
    {{#link-to 'about'}}Learn More{{/link-to}}
  </p>

  <button {{action 'authenticate'}} class="button-primary">
    <span class="text">Login or register</span>
    <span class="icon-github"></span>
  </button>
</div>
