{{#page-content}}
  <div class="fullscreen">

    <h1 class="heading-thick">
      <span class="line">Your all-in-one </span>
      <span class="line">product roadmapping </span>
      <span class="line">on the same paging </span>
      <span class="line">task tracking </span>
      <span class="line">team tool.</span>
    </h1>

    <div class="top_right">
      <button {{action 'authenticate'}} class="button-unstyled">
        <span class="text">Login</span>
        <span class="icon-github"></span>
      </button>
    </div>

    <button {{action 'authenticate'}} class="button-primary">
      <span class="text">Get started</span>
      <span class="icon-github"></span>
    </button>

  </div>
{{/page-content}}
