{{#link-to 'features'}}
  <span class="icon-roadmap"></span>
  <span class="text">Roadmap</span>
{{/link-to}}

{{#link-to 'goals'}}
  <span class="icon-trophy"></span>
  <span class="text">Goals</span>
{{/link-to}}

{{#link-to 'backlog'}}
  <span class="icon-list-unordered"></span>
  <span class="text">Backlog</span>
{{/link-to}}

{{#if showNewTooltip}}

  {{#link-to 'features.new'
    title='Add your first new feature'
    tooltipContent='Add your first feature'
    tooltipEvent='ready'
    tooltipPlace='left'
  }}
    <span class="icon-write"></span>
    <span class="hidden">Add a new feature</span>
  {{/link-to}}

{{else}}

  {{#link-to 'features.new'
    title='Add a new feature'
    tooltipContent='Add a new feature'
    tooltipEvent='hover'
    tooltipTypeClass='light'
    tooltipPlace='left'
  }}
    <span class="icon-write"></span>
    <span class="hidden">Add a new feature</span>
  {{/link-to}}

{{/if}}

{{yield}}
