{{feature-navigation}}

{{#page-header}}
  <h1>Feature Backlog</h1>
{{/page-header}}

{{#page-content}}

  {{#if (and (not backlogFeatures.length) (not model.isUpdating))}}
    <div class="blocker">
      <h2 class="heading">
        <span class="icon-new"></span>
        <span class="text">Whoa there!</span>
      </h2>

      <div class="blocker-content">
        {{#link-to 'features.new' (query-params inBacklog=true)}}
          You have no features in your backlog. Click here to add one.
        {{/link-to}}
      </div>
    </div>
  {{/if}}

  {{#sortable-group
    classNameBindings='model.isUpdating:fade-out:fade-in'
    class='backlog_feature_list'
    onChange='reorderBacklog'
    tagName='ol'
    as |group|
  }}

    {{#each rankedBacklogFeatures as |feature|}}

      {{#sortable-item
        class='backlog_feature'
        group=group
        model=feature
        tagName='li'
      }}
        <dl class="backlog_feature_content">
          <dt class="hidden">Name</dt>
          <dd class="backlog_feature_name">
            {{feature.name}}
          </dd>
          {{!-- TODO - size --}}
          {{!-- <dt class="hidden">Size</dt>
          <dd>
            {{size-icon 1}}
          </dd> --}}
          <dt class="hidden">Options</dt>
          <dd class="backlog_feature_button">
            {{#link-to 'feature.edit' feature
              (query-params inBacklog=false)
              tooltipContent='Set goals'
              tooltipTypeClass='light'
            }}
              <span class="icon-calendar"></span>
              <span class="hidden">Set goals</span>
            {{/link-to}}
          </dd>
          <dd class="backlog_feature_button">
            {{#link-to 'feature' feature
              tooltipContent='View feature'
              tooltipTypeClass='light'
            }}
              <span class="icon-arrow-right"></span>
              <span class="hidden">View</span>
            {{/link-to}}
          </dd>
        </dl>
      {{/sortable-item}}
    {{/each}}

  {{/sortable-group}}

{{/page-content}}
