{{#link-to 'features.new'
  title='Add a new feature'
  tooltipContent='Add a new feature'
  tooltipEvent='hover'
  tooltipTypeClass='light'
  tooltipPlace='left'
}}
  <span class="icon-write"></span>
  <span class="hidden">Add a new feature</span>
{{/link-to}}


{{#page-header}}
  <h1>Feature Backlog</h1>
{{/page-header}}

{{#page-content}}
  {{#sortable-group
    tagName='ol'
    onChange='reorderBacklog' as |group|
  }}
    {{#each rankedBacklogFeatures as |feature|}}
      <li class="backlog_feature">
      {{#sortable-item model=feature group=group}}
        {{feature.name}}
      {{/sortable-item}}
      </li>
    {{/each}}
  {{/sortable-group}}
{{/page-content}}
