<header class="header" role="banner">

  <nav class="nav" role="navigation">
    <ul class="list-inline">

      <li class="letterhead">
        {{!-- TODO - improve with HTMLBars --}}
        {{#if session.isAuthenticated}}
          {{#link-to 'features'}}
            Trailblazer
          {{/link-to}}
        {{else}}
          {{#link-to 'index'}}
            Trailblazer
          {{/link-to}}
        {{/if}}
      </li>

      <li>
        {{!-- TODO - improve with HTMLBars --}}
        {{#if session.isAuthenticated}}
          {{#link-to 'features' class='logo' title='View the roadmap'}}
            <span class="icon-logo"></span>
            <span class="icon-home"></span>
            <span class="hidden">Roadmap</span>
          {{/link-to}}
        {{else}}
          {{#link-to 'index' class='logo' title='Home'}}
            <span class="icon-logo"></span>
            <span class="icon-home"></span>
            <span class="hidden">Home</span>
          {{/link-to}}
        {{/if}}
      </li>

      {{#if session.isAuthenticated}}
        {{#unless view.onLandingPage}}
          <li data-tour="settings_button">
            {{#link-to 'settings'}}
              <span class="icon-settings"></span>
              <span class="hidden">Settings</span>
            {{/link-to}}
          </li>
        {{/unless}}
      {{/if}}

      {{#if session.isAuthenticated}}
        {{#if view.onRoadmap}}
          <li class="new_feature" data-tour="new_feature_button">
            {{#link-to 'features.new' title='Add a new feature'}}
              <span class="icon-write"></span>
              <span class="hidden">Add a new feature</span>
            {{/link-to}}
          </li>
        {{/if}}
      {{/if}}

    </ul>
  </nav>

</header>

<main class="main" role="main">
  {{outlet}}
</main>
