<header class="header" role="banner">

  <nav class="nav" role="navigation">
    <ul class="list-inline">

      <li class="letterhead">
        {{#link-to 'index'}}
          Trailblazer
        {{/link-to}}
      </li>

      <li>
        {{#link-to 'index' class='logo'}}
          <span class="icon-logo"></span>
          <span class="icon-home"></span>
          <span class="hidden">Roadmap</span>
        {{/link-to}}
      </li>

      {{#if session.isAuthenticated}}
        <li>
          {{#link-to 'settings'}}
            <span class="icon-settings"></span>
            <span class="hidden">Settings</span>
          {{/link-to}}
        </li>
      {{/if}}

      {{#if session.isAuthenticated}}
        {{#unless view.onForm}}
          <li class="new_feature">
            {{#if view.onFeature}}
              {{#link-to 'tasks.new' title='Add a new task'}}
                <span class="icon-pencil2"></span>
                <span class="hidden">Add a new task</span>
              {{/link-to}}
            {{else}}
              {{#link-to 'features.new' title='Add a new feature'}}
                <span class="icon-pencil2"></span>
                <span class="hidden">Add a new feature</span>
              {{/link-to}}
            {{/if}}
          </li>
        {{/unless}}
      {{/if}}

    </ul>
  </nav>

</header>

<main class="main" role="main">
  {{!-- <div class="content"> --}}
    {{outlet}}
  {{!-- </div> --}}
</main>
