/* Typography */

/* So 1rem = 10px when browser has default font-size of
16px (i.e. 10/16 * 100) */

$baseFontSize: 62.5%;
$bodyFontSize: 1.6; // In rem
$headingSize: 3;
$headingSize-small: 1.8;
$iconFontSize: 2.4;

$iconFontOffset: -0.5 * ($iconFontSize / $bodyFontSize);

$lato: "Lato", Arial, sans-serif;
$latoLight: 300;
$latoReg: 400;

/* Colors */

$black: #000;
$white: #fff;

$blue: #8dabcd;
$gray: #868686;
$gray-light: mix(#868686, $white);
$gray-lighter: mix($gray-light, $white, 30%);
$gray-dark: #707070;
$gray-dark-hover: mix(#707070, $black, 70%);
$green: #bcdb9d;
$orange: #e7a169;
$offwhite: #f0f0f0;
$purple: #b287d7;
$red: #d47d7d;

$research: $purple;
$development: $blue;
$testing: $green;

$inputBackgroundColor: mix($white, $offwhite, 80%);

/* Layout */

$small: "(min-width: 37.5em)"; // 600px
$medium: "(min-width: 50em)"; // 800px
$big: "(min-width: 63.75em)"; // 1020px
$xBig: "(min-width: 81.25em)"; // 1200px

$spacing: 3.6;

$logoSize: 4.5;
$progressBarSize: 1;
$taskBorderSize: 0.8;

$inputWidth: 30;
$inputVertPadding: 0.8;
$inputHorizPadding: 1.2;

$buttonVertPadding: 1.5;
$buttonHorizPadding: 2;

$iconMargin: $buttonVertPadding;

/* Animations */

$fast: 0.3s;
$slow: 0.5s;
