<h1>Developer or teammember?</h1>

<button {{action 'authenticateFor' 'github'}} class="button-primary">
  <span class="text">Login with Github</span>
  <span class="icon-github"></span>
</button>

<span class="or">or</span>

<button {{action 'authenticateFor' 'google'}} class="button-secondary">
  <span class="text">Login with Google</span>
  <span class="icon-google"></span>
</button>
