.feature-index {

  .headline {

    h1 {
      @extend %align-left;
    }
  }

  h1 {
    @extend %no_margin;
    @include rem(margin-right, $iconMargin);
  }

  .heading_row {
    @include rem(margin-bottom, $spacing / 1.5);

    h1, .link-to-feature-edit, .tasks_completed {
      @extend %inline_block;
    }
  }

  .tasks_completed {
    float: right;
    @extend %no_margin;
    @include rem(font-size, 3);
    font-weight: $latoLight;
  }

  .dates_list {
    @include rem(margin-top, $spacing / 2);
    @extend .list-unstyled;
    @extend .alt_text;
    @extend .sub;

    dd {
      @extend %inline_block;

      &:last-of-type {
        float: right;
      }
    }

    .lower_date, .upper_date {
      @extend %relative;
    }
  }

}
