.feature-index {

  .headline {
    @include rem(padding-bottom, $spacing / 2);

    h1 {
      @extend %align-left;
    }
  }

  h1 {
    @extend %no_margin;
    @include rem(margin-right, $iconMargin);
  }

  .heading_row {
    @include rem(margin-bottom, $spacing / 1.5);

    h1, .link-to-feature-edit, .tasks_completed {
      @extend %inline_block;
    }
  }

  .tasks_completed {
    float: right;
    @extend %no_margin;
    @include rem(font-size, 3);
    font-weight: $latoLight;
  }

}

.dates_list {
  @include rem(margin-top, $spacing / 2);
  @extend .list-unstyled;
  @extend .fade;
  @extend .fade-out;
  @extend %relative;

  dd {
    @extend %inline_block;
    @extend .alt_text;
    @extend .sub;

    &:last-of-type {
      float: right;
    }
  }

  .lower_date, .upper_date {
    @extend %absolute;
    @include transition(left $slow);
    // @include rem(margin-left, -50%);
    @include transform(translateX(-50%));
  }
}

.stages_list {
  @extend .list-inline;
  @extend %full_width;
}

.stage_block {
  @include box-sizing(border-box);
  @include rem(font-size, 1.2);
  @include rem(padding, 0, $spacing / 2);
  @extend %relative;
  @extend %no_margin;
  @extend .alt_text;
  color: $white;
  width: 33.3333%;
  @include transition(width $slow);

  &.research {
    background-color: $purple;
  }

  &.development {
    background-color: $blue;
  }

  &.testing {
    background-color: $green;
  }

  &:first-of-type {
    @include rem(padding-left, $spacing);
  }

  &:last-of-type {
    @include rem(padding-right, $spacing);
  }

  dl {
    @extend %no_wrap;
  }

  dd, dt {
    @extend %inline_block;
  }

  dd {
    float: right;
    @extend %no_margin;
  }

  .progress {
    background-color: rgba($white, 0.2);
    @extend %absolute;
    border-radius: 0;
  }

}
