.feature-index {

  .headline {
    @include rem(padding-bottom, $spacing / 2);

    h1 {
      @extend %align-left;
      @extend %no_margin;
      @include rem(margin-right, $iconMargin);
    }
  }

  .heading_row {
    @include rem(margin-bottom, $spacing / 1.5);

    h1, .link-to-feature-edit, .tasks_completed {
      @extend %inline_block;
    }
  }

  .tasks_completed {
    float: right;
    @extend %no_margin;
    @include rem(font-size, 3);
    font-weight: $latoLight;
  }

}

.dates_list {
  // Align dates with stage blocks below
  @include rem(margin, $spacing / 2, -$spacing, 0);
  @include rem(padding, 0, $spacing);
  @extend .list-unstyled;
  @extend .fade;
  @extend .fade-out;
  @extend %relative;

  dd {
    @extend %inline_block;
    @extend .alt_text;
    @extend .sub;

    &:last-of-type {
      float: right;
    }
  }

  .lower_date, .upper_date {
    @extend %absolute;
    @include transition(left $slow);
    @include transform(translateX(-50%));
  }
}

.stages_list {
  @extend .fade;
  @extend .fade-out;
  @extend .list-inline;
  @extend %full_width;
  @include box-sizing(border-box);
  @extend %no_wrap;
}

.stage_block {
  @include box-sizing(border-box);
  @include rem(font-size, 1.2);
  @include rem(padding, 0, $spacing / 2);
  @extend %relative;
  @extend %no_margin;
  @extend .alt_text;
  color: $white;
  width: 33.3333%;
  @include transition(width $slow);

  &.research {
    $backgroundColor: $purple;

    background-color: $backgroundColor;

    .progress {
      background-color: rgba(darken($backgroundColor, 6), 0.5);
    }
  }

  &.development {
    $backgroundColor: $blue;

    background-color: $backgroundColor;

    .progress {
      background-color: rgba(darken($backgroundColor, 5), 0.5);
    }
  }

  &.testing {
    $backgroundColor: $green;

    background-color: $backgroundColor;

    .progress {
      background-color: rgba(darken($backgroundColor, 12), 0.5);
    }
  }

  &:first-of-type {
    @include rem(padding-left, $spacing);
  }

  &:last-of-type {
    @include rem(padding-right, $spacing);
  }

  dl {
    @extend %no_wrap;
    @extend %relative; // So text sits ontop of progress bar
  }

  dd, dt {
    @extend %inline_block;
  }

  dd {
    float: right;
    @extend %no_margin;
  }

  .progress {
    @extend %absolute;
    border-radius: 0;
  }

}

.tasks_list {
  $borderGap: $spacing  / 1.5;
  @extend .list-unstyled;
  @extend %relative;
  @extend %table;
  // Hacky width
  width: calc(100% - #{$borderGap * 10}px);
  width: calc(100% - #{$borderGap}rem);
  @include rem(margin-left, $borderGap);
  @include rem(margin-bottom, $spacing / 2);
  padding: 0;

  li {
    @extend %row;
    @include rem(margin-left, $inputHorizPadding);
    border-bottom: 1px solid mix($gray-light, $white, 30%);

    &:last-of-type {
      border-bottom: none;
    }
  }

  &:before {
    @extend %full_size_pseudo;
    @include rem(width, 0.8);
    @include rem(left, -$borderGap);
  }

  .complete {
    .task_name {
      @include opacity(0.4);
    }
  }

  .not_complete {
    @include mod(button) {
      color: $orange;
    }
  }

  .link-to-task-edit, .button-unstyled, .task_name {
    @include rem(padding, 1);
  }

  .task_name, .task_buttons {
    @extend %cell;
  }

  .task_name {
    @extend %full_width;
    padding-left: 0;
  }

  .task_buttons {
    @include rem(min-width, 17);
  }

  .link-to-task-edit {
    @extend %inline_block;
  }
}

@include mod(tasks_list) {
  @extend .tasks_list;
}

.tasks_list-research:before {
  background-color: $purple;
}

.tasks_list-development:before {
  background-color: $blue;
}

.tasks_list-testing:before {
  background-color: $green;
}
