.feature-index {

  .headline {
    @include rem(padding-bottom, $spacing / 2);

    h1 {
      @extend %align-left;
      @extend %no_margin;
      @include rem(margin-right, $iconMargin);
    }
  }

  .heading_row {
    @include rem(margin-bottom, $spacing / 1.5);

    h1, .link-to-feature-edit, .tasks_completed {
      @extend %inline_block;
    }
  }

  .tasks_completed {
    float: right;
    @extend %no_margin;
    @include rem(font-size, 3);
    font-weight: $latoLight;
  }

  .link-to-tasks-new {
    $padding: $buttonVertPadding;

    @extend %block;
    @include rem(padding, $padding + 0.2, $padding + $taskBorderSize);
    @include rem(margin-bottom, $spacing / 1.5);
    @include transition(background-color $fast);
    background-color: rgba($offwhite, 0.5);

    &:hover {
      background-color: rgba($offwhite, 0.8);
    }
  }

}

.dates_list {
  // Align dates with stage blocks below
  @include rem(margin, $spacing / 2, -$spacing, 0);
  @include rem(padding, 0, $spacing);
  @extend .list-unstyled;
  @extend .fade;
  @extend .fade-out;
  @extend %relative;

  dd {
    @extend %inline_block;
    @extend .alt_text;
    @extend .sub;

    &:last-of-type {
      float: right;
    }
  }

  .lower_date, .upper_date {
    @extend %absolute;
    @include transition(left $slow);
    @include transform(translateX(-50%));
  }
}

.stages_list {
  @extend .fade;
  @extend .fade-out;
  @extend .list-inline;
  @extend %full_width;
  @include box-sizing(border-box);
  @extend %no_wrap;
}

.stage_block {
  @include box-sizing(border-box);
  @include rem(font-size, 1.2);
  @include rem(padding, 0, $spacing / 2);
  @extend %relative;
  @extend %no_margin;
  @extend .alt_text;
  color: $white;
  width: 33.3333%;
  @include transition(width $slow);

  &.research {
    $backgroundColor: $purple;

    background-color: $backgroundColor;

    .progress {
      background-color: rgba(darken($backgroundColor, 6), 0.5);
    }
  }

  &.development {
    $backgroundColor: $blue;

    background-color: $backgroundColor;

    .progress {
      background-color: rgba(darken($backgroundColor, 6), 0.5);
    }
  }

  &.testing {
    $backgroundColor: $green;

    background-color: $backgroundColor;

    .progress {
      background-color: rgba(darken($backgroundColor, 12), 0.5);
    }
  }

  &:first-of-type {
    @include rem(padding-left, $spacing);
  }

  &:last-of-type {
    @include rem(padding-right, $spacing);
  }

  dl {
    @extend %no_wrap;
    @extend %relative; // So text sits ontop of progress bar
  }

  dd, dt {
    @extend %inline_block;
  }

  dd {
    float: right;
    @extend %no_margin;
  }

  .progress {
    @extend %absolute;
    @extend %top;
    @extend %left;
    border-radius: 0;
  }

}

.tasks_list {
  $borderGap: $spacing  / 1.5;

  @extend .list-unstyled;
  @extend %relative;
  @extend %table;
  // Hacky width
  width: calc(100% - #{$borderGap * 10}px);
  width: calc(100% - #{$borderGap}rem);
  @include rem(margin-left, $borderGap);
  @include rem(margin-bottom, $spacing / 2);
  padding: 0;

  .task_item:not(.hidden) ~ .task_item:not(.hidden) {
    border-top: 1px solid $gray-lighter;
  }

  .task_item {
    @include rem(margin-left, $inputHorizPadding);
    @extend %row;

    &:not(.completed) .complete_button {
      color: $orange;
      border-radius: 0;

      &:hover {
        background-color: $orange;
        color: $white;
      }
    }
  }

  &:before {
    @extend %full_size_pseudo;
    @include rem(width, $taskBorderSize);
    @include rem(left, -$borderGap);
  }

  .completed {
    .task_name {
      @include opacity(0.4);
    }
  }

  .link-to-task-edit, .complete_button, .task_name {
    @include rem(padding, $buttonVertPadding / 1.5, $buttonVertPadding);
  }

  .task_name, .task_buttons {
    @extend %cell;
  }

  .task_name {
    @extend .fade-in;
    @extend .fade;
    @extend %full_width;
    padding-left: 0;
  }

  .assignee_name {
    @extend .alt_text;
    @include rem(font-size, 1.2);
    @include rem(margin-left, $buttonVertPadding);

    &.fade-in {
      @include opacity(0.3);
    }
  }

  .task_buttons {
    @include rem(min-width, 19); // Hacky
  }

  .link-to-task-edit {
    @extend %inline_block;
    // Hack because button is faded
    border-right: 1px solid rgba($gray-light, 0.5);
  }
}

@include mod(tasks_list) {
  @extend .tasks_list;
}

.tasks_list-research:before {
  background-color: $purple;
}

.tasks_list-development:before {
  background-color: $blue;
}

.tasks_list-testing:before {
  background-color: $green;
}

/* Checkbox filter */

.filters {
  @extend .heading_aside;

  .checkbox_wrapper {
    @include rem(padding, 0.4, $spacing / 2, 0.4, 0);
  }

  .checkbox_wrapper ~ .checkbox_wrapper {
    border-left: 1px solid rgba($gray-light, 0.5);
    @include rem(padding-left, $spacing / 2);
  }

  .checkbox_label {
    @extend .alt_text;
    cursor: pointer;
    @include rem(padding-left, $inputHorizPadding);
  }

  .research .alt_text {
    color: $research;
  }

  .development .alt_text {
    color: $development;
  }

  .testing .alt_text {
    color: $testing;
  }

  .completed .alt_text {
    color: $orange;
  }

  .x-toggle-container {
    @include rem(margin-right, $spacing);
  }
}

.complete_button {
  @extend .button;
  @extend .button-unstyled;
  @extend %pull-right;
}
