.sign-in .main {
  @extend %align-middle;
  background-color: $orange;
  color: $white;

  .title {
    @include rem(font-size, 4);
    @include rem(margin-bottom, $spacing / 2);
  }

  .link-to-about {
    @include rem(font-size, 1.8);
    @extend .sub;
  }

  .button-primary {
    background-color: $white;
    color: $gray-dark;
  }

  .icon-fire {
    @include rem(font-size, 5);
    @extend .sub;
    @include transform(rotateY(0deg));
    @include transition(transform $slow);

    &:hover {
      @include transform(rotateY(180deg));
    }
  }
}
