{{#if view.showNotes}}
  {{input-group
    value=notes
    type='textarea'
  }}
{{else}}
  <div class="control notes_button">
    <div class="label">
      <span class="hidden">Add notes?</span>
    </div>

    <button class="button-unstyled sub" {{action 'addNotes' target='view'}}>
      <span class="icon-dots"></span>
      <span class="text alt_text">Add notes</span>
    </button>
  </div>
{{/if}}
