<li>
  <div class="task_name">
    {{task.name}}
  </div>

  <div class="task_buttons">
    {{#link-to 'task.edit' task class='sub'}}
      <span class="icon-pencil small sub"></span>
      <span class="hidden">Edit</span>
    {{/link-to}}

    <button {{action 'completeTask' task}} class="button-unstyled">
      <span class="icon-fire"></span>
      <span class="text">Blaze it</span>
    </button>
  </div>
</li>
