<ul>
  <li>{{#link-to 'index'}}Roadmap{{/link-to}}</li>
  <li>{{#link-to 'user.new'}}New user{{/link-to}}</li>
  <li>{{#link-to 'user'}}Users{{/link-to}}</li>
  <li>{{#link-to 'feature.new'}}New feature{{/link-to}}</li>
  <li>{{#link-to 'feature.index'}}Features{{/link-to}}</li>
  {{!-- <li>{{#link-to 'stage-type.new'}}New stage type{{/link-to}}</li> --}}
  <li>{{#link-to 'stage-type.index'}}Stage types{{/link-to}}</li>
</ul>

{{outlet}}
