<ul>
  {{#each feature in content}}
    <li>
      {{#link-to 'feature.show' feature}}
        {{feature.name}}
      {{/link-to}}

      <p>
        {{moment feature.startDate dateFormat}}
        -
        {{moment feature.endDate dateFormat}}
      </p>

      <ol>
        {{#each stage in feature.stages}}
          <li>{{stage.duration}}</li>
        {{/each}}
      </ol>
    </li>
  {{/each}}
</ul>
